body {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    
    
  }


/* Navigation Bar */

.nav {
    display: flex;
    justify-content: right;
    padding: 10px 50px 0px 5%;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width:100%;
    color: black;
}

.nav button {
    margin-top: 3%;
    align-items: right;

}

.nav button:focus {
    outline: none;
  box-shadow: none;
}


.nav .nav-menu {
    display: none;
    padding-top: 50px;    
    justify-content: right;
    background-color: transparent;
    z-index: 5;
    width:100%;
    color: black;   
    
}



.nav .nav-menu ul {
    padding-right:12px;
    list-style-type: none;
    color: inherit;   
    background-color: transparent;
    line-height: 300%;
    
  
}
.nav .nav-menu li {
    text-align: right;
    font-size: 25px;
    
}

/* Main Page Settings */
  
.main-page {

    height: 700px;
    position: relative;
    /* background-image: url("../assets/img/background/background3.jpg"); */
    background-color:transparent;    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    
}

.main-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;

  }



.main-page .main-items {
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
}

.main-page .main-items .button-explore {
    border: 0.5px solid black;
    padding: 8px 40px 8px 40px;
    font-size: 15px;
    font-weight: 300;
}

.main-page .main-items a, a:visited, a:hover, a:active {
    color: inherit;   
    text-decoration: none !important; 
}

.main-page .main-items span {
    font-size: 2em; 
    color: black;
}



/* About */
.about {
    position: relative;
    z-index: 1;
}
.about:before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 1200px;
    background: url(../assets/img/background/background-marble3.jpg);
    background-repeat: repeat;
  background-size: 100%;
  opacity: 0.6;
  z-index: -1;
  
    
}


.about .title {
  
    
}

.about .title h5 {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about .description {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  
  background: thistle ;
}

.about .description .progress-2 {
    height: 2px !important;
}


/* Scroller styling */
.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
  }
  .scroller > span {
    position: absolute;
    top: 0;
    animation: slide 6s infinite;
    font-weight: bold;
    
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }

/* Skills */

.skills{
    height: 600px;
    background-color: rgb(241, 226, 232);
    position:relative;
    
}

.skills img{
    opacity: 0.7;
}



/* Portfolio */

.portfolio{
    height: 1500px;
    background-color: white;

    

}

.portfolio h1 {
    color: black;
    text-align: center;
    border-bottom: 7px solid black;
    width: 40px;

}

.portfolio .container {
    margin-top: 5%;
    margin-left: auto;


}


  




/* Text, Padding Settings */

.text-uppercase{
    text-transform: uppercase;
  }

.text-lg{
    font-size: calc(1.375rem + 3.0vw);
    font-weight: 700;
}

.padding-0 {
    padding: 0;
}

.padding-y-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin-y-140 {
    margin-top: 140px;
    margin-bottom: 140px;
}

.bg-black{
    background-color: black;
}

.font-size-xlarge {
    font-size: x-large !important;
}

.font-size-large {
    font-size: large !important;
}

.font-gray {
    color: rgb(97, 97, 97);
}


/*** Color ***/

.background-pink {
    background-color: rgb(241, 226, 232) !important;
}